@media(min-width:1024px){ /*Se aplica el estilo condicional, si la anchura mínima de un elemento es 1024px. No aplica para la propiedad width inferior a min-width */
  .main-grid-container{
      grid-template-columns: repeat(5,1fr); /* esta propiedad especifica el número (y el ancho) de las columnas en un diseño de cuadrícula*/
      margin: 1em;
      grid-gap: 2em; /*propiedad abreviada shorthand para grid-row-gap y grid-column-gap que especifica los canales entre las filas y las columnas de la cuadrícula*/
      padding: 2.5em;
  }

  .input {
      grid-row-start: 1;
      grid-row-end: 2;
      grid-column-start: 2;
      grid-column-end: 5;
      padding: 1em;
  }

  .btn-cipher{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 2;
      grid-column-end: 3;
      padding: 1em;
  }

  .btn-decipher{
      grid-row-start: 2;
      grid-row-end: 3;
      grid-column-start: 4;
      grid-column-end: 5;
      padding: 1em;
  }

  .output {
      grid-row-start: 3;
      grid-row-end: 4;
      grid-column-start: 2;
      grid-column-end: 5;
      padding: 1em;
  }

  .btn-reset {
      grid-row-start: 4;
      grid-row-end: 5;
      grid-column-start: 3;
      grid-column-end: 4;
      padding: 1em;
  }

  .offset{
      padding: 0 0 0 0.5em; /* orden: top right bottom left*/
      width: 7em;
      margin: 0.5em 0;

  }
}
